BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 100
SortIncludes: true
IncludeBlocks: Regroup

# clang-format -i src/*.cpp include/*.h tests/*.cpp