# C++ Server Project Ignore

/build
/CmakeFiles
CmakeCache.txt
snapshot.bin
*.o
*.a
*.so
*.exe
*.log

# Python Client Project Ignore

client/env/
client/zippy_env
*.pyc
__pycache__/

# Ignore Misc files

.DS_Store
.vscode/